<footer th:fragment="footer" class="p-2 bg-dark text-white text-center">
    <div class="container">
        <p class="lead">Copyright &copy; 2022 Egg Cooperation Academy</p>
        <div class=" btn-group position-absolute bottom-0 end-0 p-2">
            <i ><a class="bi bi-github h1" href="https://github.com/Braian-Marquez" target="_blank"></a></i>
            <i><a class="bi bi-linkedin h1" href="https://www.linkedin.com/in/braian-leandro-marquez-8741071b2" target="_blank"></a></i>
        </div>

    </div>
</footer>