<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body>
<header th:replace="fragments/header::header"></header>
<main>
    <div class="container">
        <div class="row ">
            <div class="col-6">
                <form th:action="@{/prestamo/__${action}__}" th:object="${prestamo}" method="POST" autocomplete="off"
                      class="needs-validation mb-4" novalidate>
                    <input type="hidden" th:field="*{id}">



                    <div class=" mb-3">
                        <select th:field="*{libro}" id="libro" class="form-select" aria-label="Select Libro"
                                required>
                            <option selected value="">Libro</option>
                            <option th:each="a : ${libro}" th:text="${a.nombre}"
                                    th:value="${a.id}"></option>
                        </select>

                    </div>
                    <div class=" mb-3">
                        <select th:field="*{cliente}" id="cliente" class="form-select" aria-label="Select Cliente"
                                required>
                            <option selected value="">Cliente</option>
                            <option th:each="c : ${cliente}" th:text="${c.nombre}"
                                    th:value="${c.id}"></option>
                        </select>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" th:field="*{fechaPrestamo}" id="fechaPrestamo" class="form-control" required>
                        <label for="fechaPrestamo">Fecha de Prestamo</label>
                        <div class="invalid-feedback">Fecha is required</div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="date" th:field="*{fechaDevolucion}" id="fechaDevolucion" class="form-control" required>
                        <label for="fechaDevolucion">Fecha de Devolucion</label>
                        <div class="invalid-feedback">Fecha is required</div>
                    </div>

                    <div class="  mb-3">
                        <label for="aPrestar" class="form-label">Ejemplares:</label>
                        <input type="number" max="10" class="form-control" th:field="*{aPrestar}" id="aPrestar"
                               placeholder="Ingresar Ejemplares" required>
                        <div class="invalid-feedback text-start">Ejemplares is required</div>
                    </div>


                    <button type="submit" class="btn btn-primary"
                            th:text="${action=='create'?'Sign up':'Update'}"></button>
                </form>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/js/validation.js}"></script>
<footer th:replace="fragments/footer::footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>