<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body>
<header th:replace="fragments/header::header"></header>
<main>
    <div class="container">
        <div class="row ">
            <div class="col-6">
                <form th:action="@{/libro/__${action}__}" th:object="${libro}" method="POST" autocomplete="off"
                      class="needs-validation mb-4" novalidate>
                    <input type="hidden" th:field="*{id}">

                    <div class=" mb-3">
                        <label for="isbn" class="form-label">ISBN:</label>
                        <input type="text" class="form-control" th:field="*{isbn}" id="isbn"
                               placeholder="ISBN" REQUIRED>
                        <div class="invalid-feedback text-start">ISBN is required</div>

                    </div>

                    <div class="  mb-3">
                        <label for="nombre" class="form-label">Titulo:</label>
                        <input type="text" class="form-control" th:field="*{nombre}" id="nombre"
                               placeholder="Ingresar Titulo" required>
                        <div class="invalid-feedback text-start">Titulo is required</div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="date" th:field="*{anio}" id="anio" class="form-control" required>
                        <label for="anio">Date of birth</label>
                        <div class="invalid-feedback">Date of birth is required</div>
                    </div>

                    <div class=" mb-3">
                        <select th:field="*{autor}" id="autor" class="form-select" aria-label="Select Autor"
                                required>
                            <option selected value="">Autor</option>
                            <option th:each="a : ${autor}" th:text="${a.nombre}"
                                    th:value="${a.id}"></option>
                        </select>

                    </div>

                    <div class=" mb-3">
                        <select th:field="*{editorial}" id="editorial" class="form-select" aria-label="Select Editorial"
                                required>
                            <option selected value="">Editorial</option>
                            <option th:each="e : ${editorial}" th:text="${e.nombre}"
                                    th:value="${e.id}"></option>
                        </select>

                    </div>
                    <div class="mb-3">
                        <label for="ejemplares" class="form-label">Ejemplares:</label>
                        <input type="text" class="form-control" th:field="*{ejemplares}" id="ejemplares"
                               placeholder="Ingrese Ejemplares"
                        >
                        <div class="text-danger mt-b" th:if="${#fields.hasErrors('ejemplares')}"
                             th:errors="*{ejemplares}"></div>
                    </div>


                    <button type="submit" class="btn btn-primary"
                            th:text="${action=='create'?'Sign up':'Update'}"></button>
                </form>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/js/validation.js}"></script>
<footer th:replace="fragments/footer::footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>