<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body>
<header th:replace="fragments/header::header"></header>
<main>




    <div class="container" >
        <div class="row mt-5" >
            <div class="col">
                <div class="table-responsive  ">
                    <table class="table table-hover table-bordered "  bgcolor= "#E6E6FA" border="1" cellpadding="1" cellspacing="1">
                        <thead>
                        <tr class="table-dark">

                            <th>Fecha Prestamo</th>
                            <th>Fecha Devolucion</th>
                            <th>Libro</th>
                            <th>Cliente</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="p : ${prestamo}">
                            <td th:text="${p.fechaPrestamo}"></td>
                            <td th:text="${p.fechaDevolucion}"></td>
                            <td th:text="${p.libro.nombre}"></td>
                            <td th:text="${p.cliente.nombre}"></td>
                            <td th:text="${p.aPrestar}"></td>

                            <td>
                                <form  th:action="@{/prestamo/delete/__${p.id}__}" method="POST">
                                    <button type="submit" class="btn btn-danger">Devolucion</button>
                                </form>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>





</main>

<footer th:replace="fragments/footer::footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html></html>